*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: #72172e;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px 0;
}
.container-logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo-texto{
    margin-left: 20px;
    color: #fffaf2;
}

.logo-texto li a{
    font-size: 24px;
    text-decoration: none;
    color: #fffaf2;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 15px;
}
.logo-texto li a:hover{
    background-color: rgba(100,100,100,0.5);
}
.menu li{
    display: inline-block;
    margin: 0 15px;
}
.menu li a{
font-size: 20px;
text-decoration: none;
color: #fffaf2;
text-transform: uppercase;
padding: 10px 25px;
border-radius: 15px;
}
.menu li a:hover{
    background-color: rgba(100,100,100,0.5);
}
body{
    background-color: #005bc3;
}

.imgx{
    display: flex;
    justify-content: space-around;
    border-radius: 50px; 
    padding: 20px;
}
.cima{
    text-align: center;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu1 li{
    display: flex;
    flex-direction: row;
    margin: 0 15px;
}
.menu1 li a{
font-size: 20px;
text-decoration: none;
color: #272b34;
text-transform: uppercase;
padding: 10px 25px;
border-radius: 15px;
}
.menu1 li a:hover{
    background-color: rgba(100,100,100,0.5);
}

.txtinicio{
    display: flex;
    justify-content: center;
    padding: 30px;

}
.Imagens{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.txtgosto{
    display: flex;
    justify-content: space-around;
}

.links{
    display: flex;
    justify-content: space-around;
    gap: 6px;
}

.txtinicio2{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.Imagens2{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.links1{
    display: flex;
    justify-content: space-around;
    gap: 6px;
    text-transform: none;

}

.txtgosto1{
    display: flex;
    justify-content: space-around;
}

