*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    background-color: #72172e;
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 10px 0;
}
.container-logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo-texto{
    margin-left: 20px;
    color: #fffaf2;
}

.logo-texto li a{
    font-size: 24px;
    text-decoration: none;
    color: #fffaf2;
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 15px;
}
.logo-texto li a:hover{
    background-color: rgba(100,100,100,0.5);
}
.menu li{
    display: inline-block;
    margin: 0 15px;
}
.menu li a{
font-size: 20px;
text-decoration: none;
color: #fffaf2;
text-transform: uppercase;
padding: 10px 25px;
border-radius: 15px;
}
.menu li a:hover{
    background-color: rgba(100,100,100,0.5);
}
body{
    background-color: #005bc3;
}

.Lembranças{
    text-align: center;
}

h2{
    padding: 15px;
}
.Curiosidade{
    text-align: center;
    padding: 15px;
}